@import 'font.css';

:root{
    --primary-font-face: 'Montserrat';
    --secondary-font-face: 'Trebuchet';
    --primary-text-color: #323232;
    --secondary-text-color:#FFFFFF;
    --secondary-title-color:#7177F1;
    --primary-background:#151437;
    --secondary-title-color:#FFFFFF;
    --secondary-title-color-alt:#7177F1;
    --primary-link-color:#7177F1;
    --secondary-link-color:#FFFFFF;
}

body{
    background: var(--primary-background);
    font-family: var(--primary-font-face);
    color: var(--primary-text-color);
}

.logo::before{
    content: url(../images/logo-light.png);
}

.header{
    position: relative;
}

.header__link{
    color: var(--primary-link-color);
    margin: 15px;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    transition: 0.5s color;
}

.header__link:hover{
    color: var(--secondary-title-color);
}

.header__button{
    height: 40px;
    width: 190px;
    background: var(--primary-link-color);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    text-transform: capitalize;
    color: var(--secondary-link-color);
    margin-left: 15px;
    margin-right: 60px;
    transition: 0.5s background 0.5s color;
}

.header__button:hover{
    color: var(--primary-link-color);
    background: var(--primary-background);
}

.header__tel{
    font-size: 25px;
    color: var(--primary-link-color);
    transition: 0.5s color 0.5s text-shadow;
}

.header__tel:hover{
    color: var(--secondary-link-color);
    text-shadow: 0 0 15px;
}

.header__toggler{
    font-size: 35px;
    color: white;
}

.header__toggler:focus{
    box-shadow: none;
}

.intro__subtitle{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
}

.intro__title{
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--primary-link-color);
    line-height: 1.25;
    margin-bottom: 25px;
}

.intro__button{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1px solid var(--primary-link-color);
    background: var(--primary-link-color);
    color: var(--secondary-link-color);
    text-decoration: none;
    width: 300px;
    height: 45px;
    transform: 0.5s background 0.5s color;
    text-transform: capitalize;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
}

.intro__button:hover{
    background: var(--primary-background);
    color: var(--primary-link-color);
}

.intro_logo{
    max-width: 100%;
    margin-top: 45px;
}

.intro_logo_svg{
    height: 90px;
    color: #790FF1;
}

.intro_name{
    color: var(--primary-link-color);
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}
